@import 'toastr/toastr.scss';

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

$transition: 0.3s all ease-in-out;
$main-green: #169a5a;
$main-lightgray: #7b8488;
$main-lightgreen: #e7f5ee;

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Regular'),
        url('./font/rubik/Rubik.woff2') format('woff2'),
        url('./font/rubik/Rubik.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('./font/rubik/Rubikmedium.woff2') format('woff2'),
        url('./font/rubik/Rubikmedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('./font/rubik/Rubikbold.woff2') format('woff2'),
        url('./font/rubik/Rubikbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@mixin font-400{
    font-family: 'Rubik';
    font-weight: 400;
}
@mixin font-500{
    font-family: 'Rubik';
    font-weight: 500;
}
@mixin font-700{
    font-family: 'Rubik';
    font-weight: 700;
}


body {
    @include font-400;
}

a {
    text-decoration: none;
    transition: $transition;

    &:hover {
        text-decoration: none;
        transition: $transition;

    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;

    .logo {
        @include font-700;
        font-size: 26px;
        line-height: normal;
        color: #08200e;
    }

    .login {
        width: 100px;
        border: 2px solid $main-green;
        color: $main-green;
        margin-right: 40px;
        margin-left: auto;
        border-radius: 4px;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        @include font-500;
        padding: 5px 0;

        &:hover {
            background: $main-lightgreen;
        }

    }

}

.lang {
    &__picker {
        position: relative;


    }

    &--actual {
        font-size: 14px;
        @include font-400;
        color: #000000;
        line-height: normal;
        display: flex;
        align-items: center;
        cursor: pointer;


        .arrow {
            width: 16px;
            height: 16px;
            margin-left: 8px;
        }
    }

    &__list {
        position: absolute;
        top: calc(100% + 9px);
        background: white;
        width: 64px;
        // left: -18px;
        box-shadow: 0 1px 5px 0 rgba(58, 57, 57, 0.1);
        right: 0;
        max-height: 0;
        transition: $transition;
        overflow: hidden;
        opacity: 0;
        padding: 8px 0;

        li {
            list-style-type: none;
            background: white;
            transition: $transition;

            &:hover {
                background: #e7f5ee;
                transition: $transition;

            }
        }

        a {
            padding: 8px 18px;
            @include font-400;
            font-size: 14px;
            line-height: normal;
            color: black;
            display: inline-block;
            width: 64px;
            text-align: center;
        }
    }

    &.open {
        .lang__list {
            max-height: 30vh;
            transition: $transition;

            opacity: 1;
        }

        .lang--actual .arrow {
            transform: rotate(180deg);
        }
    }
}

.header {
    &--header {
        position: relative;
        padding-top: 31px;
        padding-bottom: 48px;

        .text__block {
            max-width: 520px;

            h1 {
                @include font-700;
                font-size: 36px;
                line-height: 1.33;
                color: $main-green;
                margin-bottom: 16px;
                max-width: 80%
            }

            p {
                @include font-400;
                font-size: 18px;
                line-height: 1.78;
                color: $main-lightgray;
            }
        }

        .top__img {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 601px;
            height: 390px;
            object-fit: contain;
        }
    }
}

.dropdown {
    position: relative;

    &.open {

        .dropdown__list {
            max-height: 130px;
            transition: $transition;
            z-index: 999;
        }

        .dropdown__toggle {
            .arrow__icon {
                transform: translateY(-50%) rotate(180deg);
                transition: $transition;
            }
        }
    }

    .dropdown__toggle {
        position: relative;


        .arrow__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            transition: $transition;
            right: 15px;
        }
    }

    .dropdown__list {
        position: absolute;
        transition: $transition;
        width: 100%;
        top: calc(100%);
        background: white;
        box-shadow: 0 1px 5px 0 rgba(58, 57, 57, 0.1);
        background-color: #ffffff;
        max-height: 0;
        overflow: hidden;

        li {
            list-style-type: none;
            padding: 8px 24px;
            @include font-400;
            font-size: 14px;
            color: black;
            line-height: normal;
            transition: $transition;

            &:hover {
                background: $main-lightgreen;
                transition: $transition;
                cursor: pointer;
            }

        }
    }
}

.car__filter {
    border-bottom: 2px solid $main-green;
    width: 100%;
    box-shadow: 0 20px 30px 0 rgba(58, 57, 57, 0.1);
    margin-bottom: 56px;

    form {
        display: flex;
        align-items: center;

    }

    .w-188 {
        width: 188px;
        flex-shrink: 0;
    }

    .w-168 {
        width: 167px;
        flex-shrink: 0;
    }

    .w-104 {
        width: 103px;
        flex-shrink: 0;
    }

    .w-77 {
        width: 76px;
        flex-shrink: 0;
    }

    .input__wrapp {
        position: relative;

        &:hover {
            background: #fafafa;
        }

        &--header {
            height: 72px;
            padding: 24px 28px;
            position: relative;
            transition: $transition;
            cursor: pointer;
            border-right: 1px solid #efefef;

            input {
                background: transparent;
                width: 100%;
                height: 100%;
                @include font-400;
                font-size: 14px;
                line-height: normal;
                color: black;
                transition: $transition;
                opacity: 0;

                &:active,
                &:focus {
                    outline: none;
                }
            }

            label {
                position: absolute;
                @include font-400;
                font-size: 14px;
                line-height: normal;
                color: black;
                top: 50%;
                transition: $transition;
                transform: translateY(-50%);
            }

            .arrow__icon {
                width: 16px;
                position: absolute;
                top: calc(50% - 8px);
                transition: $transition;
                transform: rotate(0);
                right: 24px;

            }

        }

        &--footer {
            position: absolute;
            width: 100%;
            top: calc(100% + 3px);
            background: white;
            box-shadow: 0 1px 5px 0 rgba(58, 57, 57, 0.1);
            background-color: #ffffff;
            max-height: 0;
            overflow: hidden;

            li {
                list-style-type: none;
                padding: 8px 24px;
                @include font-400;
                font-size: 14px;
                color: black;
                line-height: normal;
                transition: $transition;

                &:hover {
                    background: $main-lightgreen;
                    transition: $transition;
                    cursor: pointer;
                }

            }
        }

        &.active {
            .input__wrapp--header {
                background: #fafafa;

                .arrow__icon {
                    transition: $transition;
                    transform: rotate(180deg);
                }
            }

            .input__wrapp--footer {
                max-height: 320px;
                overflow-y: auto;
                transition: $transition;
            }
        }

        &.selected {
            .input__wrapp--header {
                input {
                    opacity: 1;
                    transition: $transition;
                    transition-delay: 0.2s;
                }

                label {

                    font-size: 12px;
                    color: $main-lightgray;
                    transform: translateY(0);
                    transition: $transition;
                    top: 8px;
                }
            }
        }
    }

    button {
        background: $main-green;
        color: white;
        display: flex;
        align-items: center;
        padding: 24px 23px;
        width: 270px;
        // flex-grow: 1;
        justify-content: center;
        margin-left: auto;
        font-size: 16px;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        white-space: nowrap;
        @include font-500;

        cursor: pointer;
        transition: $transition;

        &:hover {
            background: darken($main-green, 5%);
            transition: $transition;
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

    }
}

.date_picker__wrapp {
    display: flex;

    .check__data {
        display: flex;

    }

    .data__select {
        .input__wrapp--header {
            border-right: unset;
            padding-right: 10px;
            width: 100%;

            .arrow__icon {
                right: 10px;
            }
        }
    }

    #timeChekIn,
    #timeChekOut {
        width: 150px;
    }

    .time__select {
        .input__wrapp--header {
            padding-left: 6px;
            border-right: unset;
            padding-right: 8px;
            width: 100%;

            .arrow__icon {
                right: 8px;
            }
        }
    }

    hr {
        margin: 0;
        height: 1px;
        background: #efefef;
        width: 23px;
        margin-top: 36px;
    }
}

h2.section__title {
    @include font-400;
    font-size: 32px;
    line-height: normal;
    margin-bottom: 32px;
    color: #08200e;
}

.popular__section {
    margin-bottom: 96px;

    .cards__layout {
        display: flex;
    }
}

.car,
.car__card--vertical {
    width: 270px;
    height: 370px;
    padding: 24px 12px 20px 6px;
    border-radius: 4px;
    border: solid 1px #efefef;
    background-color: #ffffff;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    .car__type {
        @include font-500;
        font-size: 24px;
        line-height: normal;
        color: $main-green;
        margin-bottom: 10px;
        text-align: center;
    }

    .car__brand {
        @include font-400;

        font-size: 16px;
        line-height: normal;
        color: #08200e;
        text-align: center;
        margin-bottom: 12px;
    }

    .car__img {

        width: 246px;
        height: 140px;
        object-fit: contain;
        margin-bottom: 12px;
    }

    .car__params {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        padding: 12px 18px;
        display: flex;
        align-items: center;
    }

    .param {
        display: flex;
        align-items: center;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }

        &__icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            flex-shrink: 0;
        }

        &__data {

            font-size: 14px;
            @include font-400;
            color: black;
            line-height: normal;
        }
    }

    .car__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        p {
            display: inline;
            text-align: center;
        }

        .text {
            @include font-400;
            font-size: 16px;
            line-height: normal;
            color: $main-lightgray;
            margin-right: 12px;
        }

        .price {
            color: $main-green;
            @include font-500;
            line-height: normal;
            font-size: 24px;

        }
    }
}

.description__section {
    margin-bottom: 96px;
    display: flex;

    .decorative__img {

        width: 481px;
        height: 291px;
        object-fit: contain;
        margin-left: auto;
        flex-shrink: 0;
    }

    .text__block {
        width: 50%;

        h2.section__title {
            margin-bottom: 24px;
        }

        p {
            @include font-400;
            font-size: 18px;
            line-height: 1.78;
            color: $main-lightgray;
            margin-bottom: 27px;
        }

        li {
            position: relative;
            padding-left: 40px;
            list-style-type: none;
            @include font-400;
            font-size: 16px;
            letter-spacing: normal;
            color: #08200e;
            margin-bottom: 16px;

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: transparent url(./img/icon/icon-check.png) center center;
                background-size: contain;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.warranty__section {
    margin-bottom: 96px;

    h2.section__title {
        text-align: center;
    }

    .card__layout {
        display: flex;
    }

    .warranty {


        &__card {
            width: calc((100% - 42px * 2) / 3);
            margin-right: 42px;
            border-radius: 4px;
            box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
            background-color: #ffffff;
            padding: 32px 0 41px 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &__icon {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background: $main-lightgreen;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 34px;

            img {
                width: 32px;
                height: 32px;

            }
        }

        &__text {
            @include font-400;
            font-size: 16px;
            line-height: normal;
            text-align: center;
            color: #08200e;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            height: 40px;
        }
    }
}


.feedback__section {
    margin-bottom: 96px;

    h2.section__title {
        text-align: center;
    }

    .form__wrapp {

        width: 556px;
        padding: 32px 78px 56px;
        box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
        background-color: #ffffff;
        margin: 0 auto;

    }
}

.user__form {
    label {

        font-size: 12px;
        line-height: 1.5;
        color: $main-lightgray;
        @include font-400;
        display: block;
        margin-bottom: 6px;
    }

    .flex {
        display: flex;
        justify-content: space-between;

        &>div {
            margin: 0
        }
    }

    .gap {
        &--bottom {
            margin-bottom: 24px;
        }
    }

    .w-400 {
        width: 400px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .w-144 {
        width: 144px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .w-320 {
        width: 320px !important;
        margin-left: auto;
        margin-right: auto;
    }

    input:not([type="submit"]),
    textarea {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: solid 2px #dee1e5;
        background-color: #ffffff;
        padding: 12px;
        @include font-400;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: normal;
        color: #08200e;
        display: block;

        &:focus,
        &:active {
            border: solid 2px #c7e7d7;
            outline: none
        }

    }

    textarea {
        width: 100%;
        height: 96px;
    }

    [type="submit"] {
        height: 48px;
        margin: 40px 0 0;
        padding: 15px 75px 14px 75px;
        border-radius: 4px;
        background-color: #169a5a;
        width: 100%;
        @include font-500;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background: darken($main-green, 5%);
            transition: $transition;
        }

    }

    .cancel[type="submit"] {
        height: 48px;
        margin: 40px 0 0;
        padding: 15px 75px 14px 75px;
        border-radius: 4px;
        background-color: white;
        border-color: $main-lightgray;
        width: 100%;
        @include font-500;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: $main-lightgray;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background: lighten($main-lightgray, 45%);
            transition: $transition;
        }

    }

    hr {
        width: 100%;
        margin: 0;
        height: 1px;
        background: #efefef;
        margin-top: 40px;
        margin-bottom: 32px;
    }

    input.error__border {
        border: solid 1px #e76d7c;
        margin-bottom: 4px;

        &:active,
        &:focus {
            border: solid 1px #e76d7c;

        }
    }

    .error {
        @include font-400;
        font-size: 12px;
        line-height: normal;
        color: #e8344d;
        display: none;
    }

    .error__border~.error {
        display: block;
    }


}

.outline {
    width: 200px;
    display: block;
    padding: 13px;
    background: white;
    border: 2px solid $main-green;
    color: $main-green;

    height: 48px;
    margin: 40px 0 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    @include font-500;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    transition: $transition;



    &:hover {
        background: $main-lightgreen;
    }
}

.subtitle {
    @include font-400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
    color: #08200e;
    margin-bottom: 32px;
}

footer {
    padding-bottom: 32px;

    p {
        text-align: center;
        @include font-400;
        font-size: 14px;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
}

.car__card--horisontal {
    height: unset;
    width: 100%;
    padding: 24px 32px 16px 40px;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 45px;
    }

    .car__img {
        margin-bottom: 0;
    }

    .car__preview {
        width: 246px;
        margin-right: 60px;
        align-self: flex-start;
        flex-shrink: 0;
    }

    .car__model {
        @include font-400;
        font-size: 24px;
        line-height: normal;
        color: #08200e;
        margin-bottom: 28px;
    }


    .car__params {
        border: unset;
        padding: 0;
        align-self: flex-start;
        display: block;
    }

    .param {
        &__legend {
            width: 140px;
            @include font-400;
            font-size: 16px;
            line-height: normal;
            color: #7b8488;
            margin-right: 10px;
        }

        &__data {
            width: 150px;
            @include font-500;
            font-size: 16px;
            line-height: normal;
            color: #08200e;

        }
    }

    .car__price {
        padding: 0;
        align-items: flex-start;
        margin-left: auto
    }

    .car__select__btn {
        display: block;
        @include font-500;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: $main-green;
        width: 240px;

        padding: 19px 19px 18px 20px;
        border-radius: 4px;
        border: solid 2px #169a5a;
        background-color: #ffffff;
        height: 56px;
        flex-shrink: 0;
        margin-left: 100px;

        &:hover {
            background: #fafafa;
        }
    }


}

.car__info__block {
    margin-bottom: 96px;
    display: flex;
    align-items: flex-start
}

.car_gallery {
    width: 600px;

    .car_gallery_for {
        width: 100%;

        height: 360px;
        margin: 0 0 8px;
        padding: 12px;
        border-radius: 2px;
        box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
        background-color: #ffffff;

        .main__gallery__photo {
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }

    .car_gallery_nav {
        display: flex;
        align-items: center;

        &__item {
            width: 80px;
            height: 80px;
            border-radius: 2px;
            border: solid 2px white;
            box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
            background-color: #ffffff;
            cursor: pointer;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.active {

                border: solid 2px #169a5a;
            }
        }
    }
}

.car__info {
    border: solid 1px #efefef;
    width: 575px;
    margin-left: auto;

    &__title {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        border-bottom: solid 1px #efefef;


        .car__name {
            @include font-400;

            font-size: 32px;
            line-height: normal;
            color: #08200e;
            max-width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 24px;
        }

        .car__city {
            @include font-500;
            font-size: 16px;
            line-height: normal;
            color: $main-green;
        }
    }

    .car__info__date {
        padding: 24px;
        display: flex;
        border-bottom: solid 1px #efefef;

        .car__info__item {
            display: flex;
            width: 50%;
        }
    }

    .car__info__params {
        padding: 24px;
        border-bottom: solid 1px #efefef;

        .car__info__item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            .legend {
                width: 140px;
            }
        }

    }

    &__item {

        display: flex;

        .legend {
            @include font-400;
            font-size: 16px;
            line-height: normal;
            color: $main-lightgray;
            margin-right: 14px;
        }

        .data {
            @include font-500;
            font-size: 16px;
            line-height: normal;
            color: #08200e;

            span {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__price {
        padding: 20px 24px;
        display: flex;

        &>div {

            width: 50%;
        }

        .price {
            @include font-500;
            font-size: 24px;
            line-height: normal;
            text-align: center;
            color: #159b59;
            margin-bottom: 8px;
        }

        .price__descr {
            @include font-400;

            font-size: 16px;
            line-height: normal;
            text-align: center;
            color: #7b8488;
        }
    }

    .btn__select {

        width: 240px;
        height: 56px;
        padding: 19px 20px;
        border-radius: 4px;
        background-color: $main-green;
        @include font-500;
        font-size: 16px;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        margin-left: auto;
        flex-shrink: 0;


        &:hover {
            background: darken($main-green, 5%);

        }
    }
}

.checkbox {
    position: relative;
    display: flex !important;
    align-items: center;
    color: #08200e !important;
    cursor: pointer;

    input {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    .checkmark {
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 4px;
        border: solid 1.5px #cccfd1;
        background-color: #ffffff;
        transition: $transition;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;

        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background: transparent url(./img/icon/icon-check.png) center center no-repeat;
            background-size: cover;
            opacity: 0;
        }
    }

    input:checked~.checkmark {

        border: solid 1.5px #c7e7d7;
        transition: $transition;

        &:before {
            opacity: 1;
        }
    }



}

.radio {
    position: relative;
    display: flex !important;
    align-items: center;
    color: #08200e !important;
    cursor: pointer;

    input {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    .checkmark {
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: solid 1.5px #cccfd1;
        background-color: #ffffff;
        transition: $transition;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #c7e7d7;

            opacity: 0;
        }
    }

    input:checked~.checkmark {

        border: solid 1.5px #c7e7d7;
        transition: $transition;

        &:before {
            opacity: 1;
        }
    }
}

.checkout__section {
    margin-top: 40px;
}

.tab__navigation {
    width: 100%;
    height: 72px;
    border-radius: 4px;
    box-shadow: 0 20px 30px 0 rgba(58, 57, 57, 0.1);
    background-color: #ffffff;

    ul {
        display: flex;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3);
        flex-grow: 1;
        border-bottom: 4px solid white;
        padding: 24px;
        @include font-400;
        font-size: 14px;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: #fafafa;
            transition: $transition;
            border-bottom: 4px solid #fafafa;

        }

        &.active {
            border-bottom: 4px solid $main-green;

            background-color: #fafafa;
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
    }
}

.tab__blocks {
    position: relative;
}

.tab__pane {
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    padding: 0;

    &.show {
        pointer-events: all;
        opacity: 1;
        height: unset;
        transition: opacity 0.3s ease-in-out;
        padding-top: 40px;
        padding-bottom: 65px;
    }
}

.order__data {
    .car__info {
        margin: 0 auto;
    }

    .car__info__price {
        justify-content: center;
    }
}


.thanks__page {
    min-height: 800px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;

    footer,
    nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    nav {
        bottom: unset;
        top: 0;
    }

    nav {
        margin-bottom: 48px;
    }
}

.thanks__section {
    margin-bottom: 78px;

    h1 {
        text-align: center;
        font-size: 36px;
        @include font-700;

        line-height: 1.33;
        letter-spacing: normal;
        color: $main-green;
        margin-bottom: 16px;
    }

    p {
        @include font-400;
        font-size: 18px;
        line-height: 1.78;
        letter-spacing: normal;
        color: #7b8488;
        text-align: center;
        margin-bottom: 16px;
    }

    img {
        width: 601px;
        height: 433px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }
}


///
.login__form {
    max-width: 400px;
    margin: 100px auto;

    .section__title {
        text-align: center;
    }

    .car__filter {
        box-shadow: unset;
        border: unset;

        .input__wrapp--header {
            border: unset;
            border-bottom: 2px solid #169a5a;
        }
    }

    .flex.gap--bottom {
        margin-left: 0;
        width: 250px;
    }

    [type="submit"] {
        margin-top: 0;
    }

    fieldset {
        margin-bottom: 20px;
    }


}

.driver__cabinet {
    .car__filter {
        box-shadow: unset;
        border: unset;

        .input__wrapp--header {
            border: unset;
            border-bottom: 2px solid #169a5a;
        }
    }
}



.car__usage__table {
    width: 700px;
    margin: 0 auto;

    .car__usage {
        display: flex;
        align-items: center;
        height: 60px;
        transition: $transition;
        border-left: 4px solid transparent;

        &:hover {
            background: #fafafa;
            transition: $transition;
        }

        &--now {
            border-left: 4px solid $main-lightgreen;

            &:hover {
                background: lighten($main-lightgreen, 2%);
                border-left: 4px solid darken($main-lightgreen, 5%)
            }
        }
    }



    .car__usage__name {
        width: 200px;

        display: block;
        padding-left: 10px;

        a {
            color: $main-lightgray;
            font-size: 12px;
            line-height: 14px;
            margin-top: 5px;

            &:hover {
                color: darken($main-lightgray, 10%);
            }
        }
    }

    .car__usage__car {
        width: 200px;
        display: block;
        text-align: center;
    }

    .car__usage__dates {
        width: 220px;
        display: block;
        text-align: center;
    }

    .car__usage__distance {
        width: 200px;
        display: block;
        text-align: center;
    }

    .car__usage__crash {
        width: 80px;
        display: block;
        text-align: center;
    }



}

.car__usage__header {
    height: 70px;
    border-bottom: 4px solid #169a5a;
    background-color: #fafafa;


    .car__usage__name,
    .car__usage__dates,
    .car__usage__crash,
    .car__usage__distance,
    .car__usage__car {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
        justify-content: center;

        svg {
            margin-left: 5px;

            flex-shrink: 0;
        }

        &.sort__upper {
            path {
                fill: transparent;
            }

            path:nth-child(2) {
                fill: $main-green;
            }
        }

        &.sort__down {
            path {
                fill: transparent;
            }

            path:nth-child(3) {
                fill: $main-green;
            }
        }

    }

    p:first-child {
        justify-content: flex-start;
    }


}

.car__usage__table__driver {
    width: 900px;
}

.advanced__filter {
    h2 {
        font-size: 24px;
        line-height: normal;
        color: #08200e;
        margin-bottom: 28px;
        @include font-400;
        transition: $transition;
        cursor: pointer;

        &:hover {
            color: $main-green;
            transition: $transition;
        }
    }

    .advanced__filter__layout {
        max-height: 0;
        transition: $transition;
        overflow: hidden;

        &.show {
            max-height: 1200px;
            border-bottom: 1px solid $main-green;
            padding-bottom: 30px;
            transition: $transition;
            margin-bottom: 40px;
            overflow: unset;

        }

        input[type="submit"] {
            display: block;
            margin: 0;
            margin-top: 24px;
            height: 40px;
            padding: 10px;

        }

        label+div.flex {
            align-items: center;
            height: 42px;

            label {
                margin-bottom: 0;
            }
        }
    }
}

.user__form {
    .flex-radio {
        justify-content: flex-start;

        label {
            margin-right: 30px;
        }
    }
}